<form class="form" (ngSubmit)="submit()" #moduleForm="ngForm">
  <mat-card>
    <mat-card-content>
      <div class="mat-error" *ngIf="error">
        {{ error }}
      </div>
      <app-project-select
        [(ngModel)]="model.project"
        name="project"
        [required]="true">
      </app-project-select>
      <app-modules-list
        [project]="model.project?.name"
        [(ngModel)]="model.module"
        (ngModelChange)="loadEnums()"
        name="module">
      </app-modules-list>

      <ng-container *ngIf="model.module">
        <app-enums-list
          [(ngModel)]="model.enum"
          (ngModelChange)="enumSelected($event)"
          [enums]="enums"
          name="enum"
        >
        </app-enums-list>

        <mat-form-field>
          <mat-label>
            Constant Name
          </mat-label>
          <input
            matInput
            [(ngModel)]="model.name"
            name="componentName"
            #name="ngModel"
            required
          />
          <mat-error *ngIf="name.invalid"> Name is required </mat-error>
        </mat-form-field>

        <app-const-builder
          *ngIf="model.enum"
          [(ngModel)]="model.consts"
          [enum]="model.enum"
          (enumDataChange)="setEnumData($event)"
          name="enums"
        >
        </app-const-builder>

        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            [disabled]="moduleForm.invalid"
          >
            GENERATE
          </button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</form>
