<form class="form" (ngSubmit)="submit()" #moduleForm="ngForm">
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-project-select
        [(ngModel)]="model.project"
        name="project"
        [required]="true">
      </app-project-select>

      <app-modules-list
        [project]="model.project?.name"
        [(ngModel)]="model.module"
        name="module">
      </app-modules-list>

      <ng-container *ngIf="model.module">
        <mat-form-field>
          <mat-label>
            Name
          </mat-label>
          <input
            matInput
            [(ngModel)]="model.name"
            name="componentName"
            #name="ngModel"
            required/>
          <mat-error *ngIf="name.invalid"> Name is required </mat-error>
        </mat-form-field>

        <app-enum-builder
          [const]="const"
          [(ngModel)]="model.enums"
          name="enums">
        </app-enum-builder>

        <div class="actions">
          <button
              mat-raised-button
              color="primary"
              [disabled]="moduleForm.invalid">
            Generate
          </button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</form>
