<mat-card>
  <form (fsForm)="save()">
    <fs-badge class="logo" shape="circle" size="80" image="/assets/logo.png"></fs-badge>
    <p class="invite-title">You have been invited to join</p>
    <mat-card-title class="invite-title">{{ scope }}</mat-card-title>
    <mat-card-content>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input matInput placeholder="First Name" [(ngModel)]="account.first_name" name="first_name" fsFormRequired>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Last Name" [(ngModel)]="account.last_name" name="last_name" fsFormRequired>
        </mat-form-field>
      </div>

      <mat-form-field class="mat-fullwidth">
        <input matInput placeholder="Email" [(ngModel)]="account.email" name="email" fsFormRequired fsFormEmail="true">
      </mat-form-field>

      <mat-form-field class="mat-fullwidth">
        <input type="password" matInput fsFormRequired fsFormMinLength="6" fsFormMaxLength="40" placeholder="Password" [(ngModel)]="account.password" name="password" fsPassword>
      </mat-form-field>

    </mat-card-content>
    <div class="buttons">
      <button mat-raised-button type="submit" color="primary">CONTINUE</button>
      <button mat-button type="button" [routerLink]="['/signin']" color="primary">CANCEL</button>
    </div>
  </form>
</mat-card>
