<fs-list [config]="config" #list>
  <fs-list-column [width]="'50px'">
    <ng-template fs-list-header>Color</ng-template>
    <ng-template fs-list-cell let-row="row">
      <fs-badge [color]="row.color"></fs-badge>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="name" title="Name">
    <ng-template fs-list-header>Name</ng-template>
    <ng-template fs-list-cell let-row="row">
      <div fxLayout="column">
        <a (click)="onUpdate(row)"> {{ row.name }}</a>
        <small *ngIf="row.default === 1">Default</small>
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>
