<form (fsForm)="save()" #form="ngForm">
  <fs-dialog>
    <ng-container *ngIf="workflowStep">
      <div mat-dialog-title>Edit Workflow Step</div>
      <mat-dialog-content>
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxLayout="column" fxFlex="40">
            <fs-label-field>
              <fs-label>Task</fs-label>
              <div fxLayout="row" fxLayoutGap="10px">
                <span> {{ workflowStep.workflow_task.name }}</span>
                <app-status-pill [status]="workflowStep.status"></app-status-pill>
              </div>
            </fs-label-field>

            <mat-form-field>
              <input matInput
                    fsDuration
                    [(ngModel)]="workflowStep.workback_time"
                    [inputUnit]="'minutes'"
                    [unit]="'minutes'"
                    [minutes]="true"
                    [hours]="true"
                    [days]="true"
                    placeholder="Workback Time"
                    name="time">
              <mat-hint align="start">
                Step due
                {{ workflowStep.workback_time * 60 | fsDateDuration: {days: true, hours: true, minutes: true} }}
                before task due
              </mat-hint>
            </mat-form-field>

          </div>
          <div fxLayout="column" fxFlex="60">
            <div class="path-header"> Paths </div>
            <fs-list [config]="config" #pathList>
              <fs-list-column title="" [sortable]="false">
                <ng-template fs-list-cell let-row="row">
                  <a (click)="openPath(row)">
                    {{ row.name }}
                  </a>
                </ng-template>
              </fs-list-column>
            </fs-list>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button type="submit" color="primary">Save</button>
        <!--<button *ngIf="workflow.default_workflow_step_id !== workflowStep.id" mat-button type="button" (click)="setDefaultStep()">Set Default Step</button>-->
        <button mat-button type="button" color="warn" (click)="remove()">Delete</button>
        <button mat-button type="button" (click)="close()">Cancel</button>
      </mat-dialog-actions>
    </ng-container>
  </fs-dialog>
</form>
