

html, body {
  margin: 0;
  height: 100%;
  font-size: 15px;
  background: #F7F7F7;
}

a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}

a small {
  color: inherit;
}

small {
  color: #6f6f6f;
  font-size: 13px;
}

* {
  -webkit-overflow-scrolling: touch;
}

.material-tooltip {
  white-space: pre-line;
}
