<form (fsForm)="save()">
  <mat-card>
    <fs-badge class="logo" shape="circle" size="80" image="{{ image }}"></fs-badge>
    <p>You have been invited to join</p>
    <mat-card-title>{{ scope }}</mat-card-title>
    <p><small>The email you selected is linked to an existing account. Add this project to your existing account</small></p>
    <mat-card-content>
      <mat-form-field class="mat-fullwidth email">
        <input matInput placeholder="Account email" [ngModel]="email" name="email" readonly>
      </mat-form-field>
      <mat-form-field class="mat-fullwidth">
        <input type="password" matInput fsFormRequired fsFormMinLength="5" fsFormMaxLength="40" placeholder="Password" [(ngModel)]="password" name="password" type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" color="primary">CONTINUE</button>
      <button mat-button type="button" routerLink="/password/request" color="primary">FORGOT PASSWORD</button>
      <button mat-button type="button" [routerLink]="['/invite', guid]">BACK</button>
    </mat-card-actions>
  </mat-card>
</form>
