<mat-card>
  <ng-container *ngIf="config">
    <fs-list [config]="config" #TasksList>
      <fs-list-column name="id" title="" [sortable]="false" width="1%">
        <ng-template fs-list-cell let-row="row">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <app-project-image [project]="row.project"></app-project-image>
            <app-type-pill [type]="row.type"></app-type-pill>
            <app-account-image [account]="row.assigned_account"></app-account-image>
          </div>
        </ng-template>
      </fs-list-column>

      <fs-list-column name="status_id" title="Status" [sortable]="true" width="100px">
        <ng-template fs-list-cell let-row="row">
          <div fxLayout="column">
            <a *ngIf="row.state !== states.deleted" (click)="openTaskDrawer(row)">
              <app-status-pill [status]="row.status"></app-status-pill>
            </a>
            <app-status-pill *ngIf="row.state === states.deleted" [status]="row.status"></app-status-pill>
            <small *ngIf="row.current_status_due" dueDateExpired [date]="row.current_status_due">
              Due {{ row.current_status_due | fsDateFormat: 'date-yearless' }}
            </small>
          </div>
        </ng-template>
      </fs-list-column>

      <fs-list-column name="name" title="Name" [sortable]="true">
        <ng-template fs-list-cell let-row="row">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <app-object-identifier [object]="row" [project]="row.project"></app-object-identifier>
            <a *ngIf="row.state !== states.deleted" (click)="openTaskDrawer(row)">{{ row.name }}</a>
            <span *ngIf="row.state === states.deleted">{{ row.name }}</span>
            <app-priority-pill class="priority" [priority]="row.priority"></app-priority-pill>
            <fs-attributes [attributes]="row.tags" class="tag"></fs-attributes>
          </div>
        </ng-template>
      </fs-list-column>

      <fs-list-column name="due_date" title="Task Due/Status Due" [sortable]="true">
        <ng-template fs-list-cell let-row="row">
          <div fxLayout fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <span *ngIf="row.due_date">{{ row.due_date | fsDate }}</span>
              <small *ngIf="row.current_status_due" dueDateExpired [date]="row.current_status_due">
                Due {{ row.current_status_due | fsDateFormat: 'date-yearless' }}
              </small>
            </div>
          </div>
        </ng-template>
      </fs-list-column>

      <fs-list-column name="modifier_account_id" title="Last Modified" [sortable]="true" width="1%">
        <ng-template fs-list-cell let-row="row">
          <app-last-modified [account]="row.modifier_account" [date]="row.modify_date"></app-last-modified>
        </ng-template>
      </fs-list-column>

    </fs-list>
  </ng-container>
</mat-card>
