<mat-checkbox [(ngModel)]="const" name="const">Generate Constant</mat-checkbox>

<br>

<h2>Enum Members</h2>
<div class="values-container">
  <div class="enum-item" *ngFor="let item of items">
    <mat-form-field class="name">
      <mat-label>
        Enum name
      </mat-label>
      <input
        matInput
        [(ngModel)]="item.name"
        (blur)="underscoreName(item)"
        name="Name"
        required
      />
    </mat-form-field>

    <span class="separator"> = </span>

    <mat-form-field class="value">
      <mat-label>
        Literal value
      </mat-label>
      <input
        matInput
        [(ngModel)]="item.value"
        (keydown.Tab)="moreItems('value')"
        name="value"
        required
      />
    </mat-form-field>

    <ng-container *ngIf="const">
      <span class="separator">: </span>

      <mat-form-field class="value">
        <mat-label>
          Textual value
        </mat-label>
        <input
          matInput
          [(ngModel)]="item.text"
          (keydown.Tab)="moreItems('text')"
          name="text"
          required
        />
    </mat-form-field>
    </ng-container>

    <button
      mat-icon-button
      class="remove-button"
      tabIndex="-1"
      (click)="removeItem(item)"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <button
      mat-flat-button
      class="more"
      color="primary"
      type="button"
      *ngIf="items.length === 0"
    (click)="moreItems(null)">
    Add more
  </button>
</div>
