<form class="form" (ngSubmit)="submit()" #moduleForm="ngForm">
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-project-select
        [persistName]="'project'"
        [(ngModel)]="model.project"
        (ngModelChange)="projectChange($event)"
        name="project"
        [required]="true">
      </app-project-select>
      <app-modules-list
        [(ngModel)]="model.module"
        [project]="model.project?.name"
        name="module">
      </app-modules-list>
      <mat-form-field>
        <mat-label>Pattern</mat-label>
        <mat-select
            [(ngModel)]="model.interfacePattern"
            (selectionChange)="interfacePatternChanged()"
            name="interfacePattern"
            required>
          <mat-optgroup label="Generic Components">
            <mat-option [value]="'basic'">Blank</mat-option>
            <mat-option [value]="'dialog'">Dialog</mat-option>
            <mat-option [value]="'tabs'">Nav</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Data & Model Components">
            <mat-option [value]="'list'">List</mat-option>
            <mat-option [value]="'list-create-edit'">List, Create & Edit</mat-option>
            <mat-option [value]="'create-edit'">Create & Edit</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <ng-container
          *ngIf="
            model.interfacePattern === 'basic' ||
            model.interfacePattern === 'dialog' ||
            model.interfacePattern === 'tabs'
          ">
        <h2>Component</h2>
      </ng-container>

      <ng-container *ngIf="hasListInterface">
        <h2>List Component</h2>
      </ng-container>

      <mat-form-field
        *ngIf="
          model.interfacePattern === 'basic' ||
          model.interfacePattern === 'dialog' ||
          model.interfacePattern === 'tabs' ||
          hasListInterface">
        <mat-label>Name</mat-label>
        <input
          matInput
          [(ngModel)]="model.componentName"
          (ngModelChange)="componentNameChange()"
          name="componentName"
          #componentName="ngModel"
          required
          autocomplete="off"/>
        <mat-error *ngIf="componentName.invalid">
          Component Name is required
        </mat-error>
      </mat-form-field>

      <fs-label-field *ngIf="listOptions.length">
        <fs-label>Options</fs-label>
        <div *ngFor="let item of listOptions">
          <mat-checkbox 
              [(ngModel)]="model[item.name]"
              (ngModelChange)="interfacePatternChanged()"
              [name]="item.name">
            {{ item.value }}
          </mat-checkbox>
        </div>
      </fs-label-field>

      <ng-container *ngIf="hasCreateEditInterface">
        <h2>Create & Edit Component</h2>
      </ng-container>

      <ng-container *ngIf="hasCreateEditInterface">
        <mat-form-field>
          <mat-label>
            Name
          </mat-label>
          <input
            matInput
            [(ngModel)]="model.createEditComponentName"
            name="createEditComponentName"
            #createEditComponentName="ngModel"
            required
            autocomplete="off"/>
          <mat-error *ngIf="createEditComponentName.invalid">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>
            Interface
          </mat-label>
          <mat-select
              [(ngModel)]="model.createEditInterfacePattern"
              name="createEditInterfacePattern"
              (ngModelChange)="createEditInterfaceChanged()"
              required>
            <mat-option [value]="'dialog'">Dialog</mat-option>
            <mat-option [value]="'full'">Page</mat-option>
            <mat-option [value]="'dialog-create-page-edit'">Dialog Create & Page Edit</mat-option>
          </mat-select>
        </mat-form-field>

        <fs-label-field *ngIf="createEditOptions.length">
          <fs-label>Options</fs-label>
          <div *ngFor="let item of createEditOptions">
            <mat-checkbox [(ngModel)]="model[item.name]" [name]="item.name">
              {{ item.value }}
            </mat-checkbox>
          </div>
        </fs-label-field>

        <ng-container
          *ngIf="!hasListInterface && model.createEditInterfacePattern === 'dialog'">
          <mat-form-field>
            <mat-label>
              Related Parent Type
            </mat-label>
            <mat-select
              [(ngModel)]="model.relatedParentType"
              name="relatedParentType"
              required>
              <mat-option [value]="'none'">None</mat-option>
              <mat-option [value]="'component'">Component</mat-option>
              <mat-option [value]="'view'">View</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="
              model.relatedParentType === 'component' ||
              model.relatedParentType === 'view'">
            <mat-label>
              Related Parent Name
            </mat-label>
            <input
              matInput
              [(ngModel)]="model.componentName"
              name="componentName"
              #componentName="ngModel"
              autocomplete="off"/>
            <mat-hint align="start"
              ><strong>Triggers the opening of the dialog</strong>
            </mat-hint>
            <mat-error *ngIf="componentName.invalid">
              Name is required
            </mat-error>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="hasListInterface || hasCreateEditInterface">
        <h2>Model & Data</h2>
        <app-project-select
          [persistName]="'common-project'"
          [(ngModel)]="serviceModel.project"
          (ngModelChange)="serviceModel.module = null"
          name="serviceProject"
          [required]="true">
        </app-project-select>
        <app-modules-list
          [persistName]="'common-module'"
          [(ngModel)]="serviceModel.module"
          [project]="serviceModel.project?.name"
          name="serviceModule">
        </app-modules-list>
        <app-services-list
          [(ngModel)]="model.service"
          (ngModelChange)="serviceChanged($event)"
          [module]="serviceModel?.module"
          [project]="serviceModel.project?.name"
          name="service">
        </app-services-list>

        <ng-container *ngIf="hasListInterface || hasCreateEditInterface">
          <mat-form-field>
            <mat-label>
              Singular Model Name
            </mat-label>
            <input
              matInput
              [(ngModel)]="model.singularModelName"
              name="singularModelName"
              #singularModelName="ngModel"
              required
              autocomplete="off"/>
            <mat-error *ngIf="singularModelName.invalid">
              Singular Model Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              Plural Model Name
            </mat-label>
            <input
              matInput
              [(ngModel)]="model.pluralModelName"
              name="pluralModelName"
              #pluralModelName="ngModel"
              required="true"
              autocomplete="off"/>
            <mat-error *ngIf="pluralModelName.invalid">
              Plural Model Name is required
            </mat-error>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <div class="actions">
        <button
            mat-raised-button
            color="primary"
            [disabled]="moduleForm.invalid">
          Generate
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
