<div fxLayout="row" fxLayoutAlign="end start">
  <div class="toolbar" fxLayout="column">
    <button mat-icon-button (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button>
    <button mat-icon-button (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button>
    <button mat-icon-button (click)="reset()"><mat-icon>youtube_searched_for</mat-icon></button>
  </div>
  <div fxFlex>
    <fs-zoom-pan>
      <ng-template fsZoomPanContent>
        <div fsModel
            (connectionCreated)="connectionCreated($event)">
          <ng-container *ngFor="let workflowStep of workflowSteps">
            <div  fsModelObject
                  fsModelTarget
                  class="workflow-step"
                  *ngIf="workflowStep.type === 'task'; else startStep"
                  [data]="workflowStep"
                  [x1]="workflowStep.x1"
                  [y1]="workflowStep.y1"
                  [scale]="zoomPan.scale"
                  (click)="workflowStepClick($event,workflowStep)"
                  (dragStop)="workflowStepDragStop($event)"
                  [style.background]="workflowStep.workflow_task?.color">
              <div>
                <div>{{workflowStep.workflow_task?.name}}</div>
                <small *ngIf="workflowStep.workback_time">
                  {{ workflowStep.workback_time * 60 | fsDateDuration: {days: true, hours: true, minutes: true} }}
                  before task due
                </small>
                <app-status-pill [status]="workflowStep.status"></app-status-pill>
                <div fsModelEndpoint placement="north"></div>
                <div fsModelEndpoint placement="south"></div>
                <div fsModelEndpoint placement="east"></div>
                <div fsModelEndpoint placement="west"></div>
              </div>
            </div>

            <ng-template #startStep>
              <div  fsModelObject
                    [data]="workflowStep"
                    class="workflow-step-start"
                    x1="60"
                    y1="60"
                    [matTooltip]="'Start'">
                  <div *ngIf="!workflowStep.workflow_paths.length" fsModelEndpoint placement="north"></div>
                  <div *ngIf="!workflowStep.workflow_paths.length" fsModelEndpoint placement="south"></div>
                  <div *ngIf="!workflowStep.workflow_paths.length" fsModelEndpoint placement="east"></div>
                  <div *ngIf="!workflowStep.workflow_paths.length" fsModelEndpoint placement="west"></div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </ng-template>
    </fs-zoom-pan>
  </div>
  <div class="right-pane">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="status-header">Statuses</div>
      <button mat-button type="button" color="primary" (click)="openEditTaskDialog(workflowTasks[0])"> Edit task </button>
    </div>
    <div *ngFor="let workflowTask of workflowTasks" class="workflow-task">
      <!--<div class="workflow-task-details" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">-->
        <!--<div class="workflow-task-color" [style.background]="workflowTask.color"></div>-->
        <!--<div class="workflow-task-name">{{workflowTask.name}}</div>-->
      <!--</div>-->
      <div *ngFor="let status of statuses">
        <mat-checkbox
          [(ngModel)]="workflowStepStatuses[workflowTask.id + '-' + status.id]"
          (change)="workflowTaskStatusClick(workflowTask, status)">
          <app-status-pill [status]="status"></app-status-pill>
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>


