<form (fsForm)="save()" #form="ngForm">
  <fs-dialog>
    <ng-container *ngIf="workflowTask">
      <h1 mat-dialog-title>Edit Workflow Task</h1>
      <mat-dialog-content>
        <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
          <div fxLayout="column" fxFlex="50">
            <mat-form-field>
              <input matInput placeholder="Name" [(ngModel)]="workflowTask.name" name="name" fsFormRequired>
            </mat-form-field>

            <!--<mat-form-field>-->
              <!--<input matInput placeholder="Task Name Template" [(ngModel)]="workflowTask.name_template" name="name_template">-->
            <!--</mat-form-field>-->

            <mat-form-field>
              <mat-select placeholder="Task type" [ngModel]="workflowTask.type_id" name="task_id" (ngModelChange)="typeChanged($event)">
                <mat-option *ngFor="let type of types" [value]="type.id">
                  {{type.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button type="submit" color="primary">Save</button>
        <button mat-button type="button" (click)="close('close')">Cancel</button>
      </mat-dialog-actions>
    </ng-container>
  </fs-dialog>
</form>
