<form (fsForm)="save()" #form="ngForm">
  <fs-dialog>
    <ng-container *ngIf="workflowPath">
      <div mat-dialog-title>{{ workflowPath.id ? 'Edit' : 'Create' }} Workflow Path</div>
      <mat-dialog-content>
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxLayout="column" fxFlex="40">
            <mat-form-field>
              <input matInput placeholder="Name" [(ngModel)]="workflowPath.name" name="name" #name fsFormRequired>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="60">
            <div class="actions-header" fxLayout="row" fxLayoutAlign="start center">
              Actions
              <div fxLayoutAlign="end" [style.width]="'100%'" *ngIf="workflowPath.id">
                <button mat-raised-button type="button" color="primary" [fsMenuTriggerFor]="actionMenu">
                  Add action
                </button>

                <fs-menu #actionMenu>
                  <ng-template fs-menu-item (click)="openCreateAction(actionTypes.AccountAssignment)">
                    Change Task Assignment
                  </ng-template>
                  <ng-template *ngIf="sourceWorkflowStep.type !== 'start'" fs-menu-item (click)="openCreateAction(actionTypes.Comment)">
                    Add comment
                  </ng-template>
                  <ng-template fs-menu-item (click)="openCreateAction(actionTypes.AddSubscriber)">
                    Add Task Subscriber
                  </ng-template>
                </fs-menu>

              </div>
            </div>

            <div class="accounts-scroll" name="accounts-scroll">
              <fs-list [config]="config" #pathList>
                <fs-list-column title="" [sortable]="false">
                  <ng-template fs-list-cell let-row="row">
                    <div fxLayout="column">
                      <a (click)="openEditAction(row)">
                        <ng-container [ngSwitch]="row.type">
                          <span *ngSwitchCase="actionTypes.AccountAssignment">
                            Change Task Assignment
                          </span>
                          <span *ngSwitchCase="actionTypes.Comment">
                            Add comment
                          </span>
                          <span *ngSwitchCase="actionTypes.AddSubscriber">
                            Add Task Subscriber
                          </span>
                        </ng-container>
                      </a>
                      <small>{{ row.target_workflow_task?.name }}</small>
                    </div>
                  </ng-template>
                </fs-list-column>
              </fs-list>
            </div>
          </div>

        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button type="submit" color="primary">{{ workflowPath.id ? 'Save' : 'Create' }}</button>
        <button mat-button type="button" color="warn" (click)="remove()" *ngIf="workflowPath.id">Delete</button>
        <button mat-button type="button" (click)="close('close')">Cancel</button>
      </mat-dialog-actions>
    </ng-container>
  </fs-dialog>
</form>
