<form (fsForm)="save()">
  <div [fsSkeletonForm]="routeObserver.loaded">

    <div fxLayout="column" class="column">
      <fs-file-image-picker
        class="file-image-picker"
        fxFlexAlign.xs="center"
        #projectImage
        (select)="upload($event)"
        [url]="project?.image?.small"
        [imageWidth]="500"
        [imageHeight]="500"
        [imageQuality]="0.8"
        [previewDiameter]="100"
        *ngIf="project.id">
      </fs-file-image-picker>

      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="project.name" fsFormRequired name="name">
      </mat-form-field>
      <app-status-menu class="project" [status]="project.status" width="100%" [assignDefaultStatus]="!project.id" (statusChanged)="changeStatus($event)"></app-status-menu>
      <mat-form-field>
        <input matInput placeholder="Abbreviation" [(ngModel)]="project.abr" name="abr" fsFormRequired maxlength="3">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary">{{ project.id ? 'Save' : 'Create' }}</button>
  </div>
</form>
