
app-root {
  display: block;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding-bottom: calc(constant(safe-area-inset-bottom)); /* iOS 11.0 */
  padding-bottom: calc(env(safe-area-inset-bottom)); /* iOS 11.2  */
}

/* hack to allow for sidenav scrolling */
.mat-drawer-content,
.mat-drawer-container {
  overflow: visible !important;
}

.app-container {
  height: 100%;
  overflow-x: hidden;

  .app-content {
    margin: 0 auto;
    height: 100%;
  }

  > .ng-star-inserted {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}


.fs-scroll {
  max-height: 100%;
}

