@import 'variables';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import '~@firestitch/message/styles.scss';
@import '~@firestitch/datepicker/styles.scss';
@import '~@firestitch/skeleton/styles.scss';
@import '~@firestitch/file/styles.scss';
@import '~@firestitch/drawer/styles.scss';
@import '~@firestitch/selection/styles.scss';
@import '~@firestitch/editor/styles.scss';
@import "~@firestitch/model/styles.scss";
@import "~@firestitch/field-editor/styles.scss";
@import "~@firestitch/zoom-pan/styles.scss";
@import "~@firestitch/sidenav/styles.scss";
@import "~@firestitch/chip/styles.scss";
@import "~@firestitch/tab/styles.scss";
@import "~@firestitch/scrollbar/styles.scss";
@import "~@firestitch/dialog/styles.scss";
@import "~@firestitch/list/styles.scss";

@include fs-date-picker($primary-palette);
@include fs-file($primary-palette);
@include fs-selection($primary-palette);
@include fs-drawer($primary-palette);
@include fs-chip($primary-palette);
@include fs-field-editor($primary-palette);
@include fs-editor($primary-palette);

.mat-sidenav-content {
  padding: 24px;
  box-sizing: border-box;
}

.mat-button, .mat-raised-button, .mat-flat-button, .mat-stroked-button {
  text-transform: uppercase;
}
.mat-radio-label {
  white-space: normal !important;
}

.mat-tab-nav-bar,
.mat-tab-header {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.fs-attribute-tag .fs-chip {
  font-size: 13px;
  min-height: auto !important;
  height: auto !important;
  padding: 3px 10px !important;
}


@media (max-width: $break-xsmall) {

    .toast-container .toast {
      width: 100%;
    }

    body:not(.body-card) {

      .mat-card {
        box-shadow: none !important;
        border: none;
        padding: 0;
      }

      .mat-sidenav-content {
        padding: 12px;
      }
    }
  }

  @media (max-width: $break-small) {

    .mat-toolbar-single-row {
      height: $header-height-small !important;
    }

    /*
      Allows the fsFiter side drawer to overlay the toolbar
    */
    .mat-drawer-container,
    .mat-drawer-content {
      z-index: auto !important;
    }
  }

  @media (min-width: $break-small) {

  }
