@import '~@angular/material/theming';

// Color Generator http://mcg.mbitson.com/#!/?mcgpalette0=%230061af

$primary-palette: (
    50: #e4f2fe,
    100: #bce0fb,
    200: #90cbf9,
    300: #64b6f7,
    400: #42a6f5,
    500: #2196f3,
    600: #1d8ef1,
    700: #1883ef,
    800: #1479ed,
    900: #0b68ea,
    A100: #ffffff,
    A200: #e1ecff,
    A400: #aeccff,
    A700: #95bcff,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$primary-color: mat-palette($primary-palette, 500);
$accent-color: mat-palette($primary-palette, A100);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($primary-color, $accent-color, $app-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto',
  $body-1: mat-typography-level(15px, 24px, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

@include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

a {
  color: mat-color($primary-color);
}

html, body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

/* Open Sans to fit in inputs and selects */
/*
input.mat-input-element {
  font-size: 14px;
  line-height: 16px;
}

.mat-form-field-type-mat-select {
  &.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding-bottom: 0.371em;
  }

  .mat-select-value-text {
    font-size: 14px;
    display: inline-flex;
    height: 16px;
  }

  .mat-select-trigger {
    height: 14px;
  }
}
*/

/* Open Sans to fit in inputs and selects */