<!--<form>-->
<div class="container">
  <h2 mat-dialog-title>Create Service</h2>  
  <div class="form">
    <app-modules-list
      [(module)]="model.module"
      (moduleChange)="moduleChanged()"
      [showCreateButton]="false"
      namespace="create-service"
    >
    </app-modules-list>

    <mat-form-field *ngIf="!hidePath">
      <mat-label>
        Type
      </mat-label>
      <mat-select [(ngModel)]="model.subdirectory">
        <mat-option [value]="'/data'">Data</mat-option>
        <mat-option [value]="'/services'">Generic</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Singular Name
      </mat-label>
      <input
        matInput
        [(ngModel)]="model.singularName"
        (ngModelChange)="changedSingularName()"
        (blur)="toCamelCase()"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Plural Name
      </mat-label>
      <input
        matInput
        [(ngModel)]="model.pluralName"
        (blur)="toCamelCase()"
      />
    </mat-form-field>
  </div>
  <button mat-button color="primary" (click)="generate()">CREATE</button>
  <button mat-button mat-dialog-close>CANCEL</button>
</div>
<!--</form>-->