<form (fsForm)="reset()">
  <mat-card>
    <img class="logo" src="/assets/logo.png">
    <mat-card-title>Password Reset</mat-card-title>
      <mat-card-content>
        <mat-form-field class="mat-fullwidth" *ngIf="!hasCode">
          <input matInput fsInput [fsFormRequired]="true" placeholder="Reset Code" [(ngModel)]="code"
                name="code">
        </mat-form-field>
      <fs-password
        [(newPassword)]="password"
        [config]="config">
      </fs-password>
      <button mat-raised-button color="primary" type="submit">Continue</button>
      <div class="back">
        Back to <a routerLink="/signin">Sign In</a>
      </div>
    </mat-card-content>
  </mat-card>
</form>
