<form (fsForm)="save()" #form="ngForm">
  <ng-container *ngIf="workflowAction">
    <div mat-dialog-title>{{ workflowAction.id ? 'Edit' : 'Add' }} Action</div>
    <mat-dialog-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <fs-label-field>
          <fs-label>Action Type</fs-label>
          <ng-container [ngSwitch]="workflowAction.type">
            <span *ngSwitchCase="actionTypes.AccountAssignment">
               Change Task Assignment
            </span>
            <span *ngSwitchCase="actionTypes.Comment">
               Add comment
            </span>
            <span *ngSwitchCase="actionTypes.AddSubscriber">
               Add Task Subscriber
            </span>
          </ng-container>
        </fs-label-field>

        <ng-container [ngSwitch]="workflowAction.type">
          <ng-container *ngSwitchCase="actionTypes.AccountAssignment">
             <app-assign-to-menu [account]="workflowAction.assign_account"
                                 (accountChanged)="assignedAccountChanged($event)">
             </app-assign-to-menu>
          </ng-container>
          <div *ngSwitchCase="actionTypes.Comment" fxLayout="column" class="comment">
            <mat-form-field>
              <input matInput
                [(ngModel)]="workflowAction.configs.comment"
                placeholder="Instructions"
                name="comment">
            </mat-form-field>
            <mat-radio-group fxLayout="row" fxLayoutGap="10px" name="comment_required"
                             [(ngModel)]="workflowAction.configs.comment_required">
              <mat-radio-button [value]="true"> Required </mat-radio-button>
              <mat-radio-button [value]="false"> Optional </mat-radio-button>
            </mat-radio-group>
          </div>
          <ng-container *ngSwitchCase="actionTypes.AddSubscriber">
            <app-subscribers [subscribers]="workflowAction.subscriber_accounts"
                             (subscribersChange)="subscribersChanged($event)">
            </app-subscribers>
          </ng-container>
        </ng-container>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit" color="primary">Save</button>
      <button mat-button type="button" color="warn" (click)="remove()" *ngIf="workflowAction?.id">Delete</button>
      <button mat-button type="button" (click)="close('close')">Cancel</button>
    </mat-dialog-actions>
  </ng-container>
</form>
