<form (fsForm)="signin()">
  <mat-card>
    <img class="logo" src="/assets/logo.png">
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-content>

      <app-social-button-group>
        <app-social-button platform="facebook" (click)="signinFacebook()" label="Sign In with Facebook"></app-social-button>
        <app-social-button platform="google" (click)="signinGoogle()" label="Sign In with Google"></app-social-button>
      </app-social-button-group>

      <app-or-line></app-or-line>

      <mat-form-field class="mat-fullwidth">
        <input
          #emailInput
          matInput
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
          autocomplete="email"
          fsFormEmail="true">
      </mat-form-field>

      <mat-form-field class="mat-fullwidth">
        <input
          #passwordInput
          matInput
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
          autocomplete="password"
          name="password"
          fsPassword
          fsFormRequired>
      </mat-form-field>
      <a routerLink="/password/request" class="forgot">Forgot Password</a>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="sign-in"
        (click)="singinClick()">Sign In</button>

      <div class="sign-up">Don't have an account yet? <a routerLink="/signup">Sign up now</a></div>
    </mat-card-content>
  </mat-card>
</form>
