<form (fsForm)="save()" #form="ngForm">
  <fs-dialog>
    <ng-container *ngIf="status">
      <div mat-dialog-title>
        {{ status.id ? 'Edit' : 'Create' }}
        <span *ngIf="status.class==='task'">Task</span>
        <span *ngIf="status.class==='doc'">Doc</span>
        <span *ngIf="status.class==='project'">Project</span>
        Status</div>
      <mat-dialog-content>
        <div fxLayout="column" [fsSkeletonForm]="status">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="status.name" name="name" fsFormRequired>
          </mat-form-field>
          <mat-form-field>
            <input matInput fsColorPicker placeholder="Color" [(ngModel)]="status.color" name="color" fsFormRequired>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button type="submit" color="primary">{{ status.id ? 'Save' : 'Create' }}</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </ng-container>
  </fs-dialog>
</form>
