
mat-card .mat-card-title {
  color: #353535;
}

.forgot {
  right: 0;
  font-size: 75%;
  float: right;
  margin-top: -13px;
  position: relative;
  z-index: 1;
}

.sign-in {
  margin: 15px 0 12px 0;
  width: 100%;
}

.sign-up {
  text-align: center;
}

.forgot-password {
  font-size: 12px;
  position: absolute;
  right: -28px;
  bottom: -17px;
  z-index: 1;
}
